.product-sect {
    margin-top: 50px;
    padding: 0 50px 50px;
}

.product-container {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.product-chapter {
    text-align: center;
    margin-top: 50px;
}

.product-card {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 300px;
    width: 300px;

    &:hover .product-title {
        display: flex;
        justify-content: center;align-items: center;
        background: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }
}

.product-title {
    display: none;
    font-size: 20px;
    font-weight: 700;
    // line-height: 300px;
    text-align: center;
    color: #fff;
    animation: fade 0.5s linear forwards;
    height: 100%;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card {
    &-1 {
        background-image: url(../img/green_peas_frozen.png);
    }

    &-2 {
        background-image: url(../img/sweet_corn_frozen.png);
    }

    &-3 {
        background-image: url(../img/cauliflower_frozen.png);
    }

    &-4 {
        background-image: url(../img/broccoli_frozen.png);
    }

    &-5 {
        background-image: url(../img/mazare.png);
    }

    &-6 {
        background-image: url(../img/porumb.png);
    }

    &-7 {
        background-image: url(../img/fasole.png);
    }

    &-8 {
        background-image: url(../img/tomate.png);
    }
}
